.main-page {
  min-height: calc(100% - 15%);
  height: auto;
  width: 100%;
  color: black;
  display: flex;
  text-align: left;
  flex-direction: row;
}

.main-page__currecy-list-container {
  min-height: calc(100% - 15%);
  height: auto;
  width: 100%;
  background-color: #008bd1;
  display: flex;
  justify-content: center;
}

.main-page__currency-list {
  width: 85%;
  margin: 50px 0px;
  padding: 40px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2%;
}
