.item__container {
  height: 50px;
  width: calc(100% -80px);
  margin: 20px 40px;
  padding-left: 20px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__currency-details {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item__currency {
  height: 100%;
  width: 10%;
  color: blue;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.item__slash {
  height: 100%;
  color: blue;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.item__pln {
  height: 100%;
  width: 10%;
  color: blue;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item__mid {
  height: 100%;
  width: 25%;
  color: blue;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-currency-button {
  margin-right: 20px;
  background-color: inherit;
  color: blue;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button:active {
  color: black;
}
