.favourite-item__container {
  height: 50px;
  width: calc(100% -80px);
  margin: 20px 40px;
  padding-left: 20px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-currency-button {
  margin-right: 20px;
  background-color: inherit;
  color: blue;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button:active {
  color: black;
}
